button[disabled] {
  background-color: red;
  cursor: not-allowed;
}

button:not([disabled]) {
  cursor: pointer;
}

button {
  padding: 10px;
  border: revert !important;
  z-index: 3;
}
label {
  cursor: pointer;
  flex:1;
  z-index: 3;
}

.buttonItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: var(--fs1);
  position: relative;
  border-radius: 0.5rem;
  background-color: black;
  padding: 10px;
}

.buttonItem::before,
.buttonItem::after {
  content: "";
  position: absolute;
  inset: -0.3rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 5s linear infinite;
}

.buttonItem::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
