.container {
  border-width: 5px;
  border-style: outset;
  padding: 10px;
  overflow-y: auto;
  border-color: var(--bgColour);
  opacity: 0.9;
}

.Research {
  grid-area: 4 / 1 / -2 / 2;
  border-left: none;
}

.Upgrades {
  grid-area: 2 / 1 / 4 / 2;
  border-left: none;
}

.Shop {
  grid-area: 2 / -2 / 4 / -1;
  border-right: none;
}

.Inventory {
  grid-area: 4 / -2 / -2 / -1;
  border-right: none;
}

.container h1 {
  text-align: center;
  font-size: var(--fs3);
  border-bottom: 2px solid;
}

.container > div {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (width < 800px) {
  .container{
    padding: 5px;
  }
  .container > div{
    padding: 10px 5px;
  }
}

@media screen and (max-width: 400px) {
  .container{
    padding: 0px;
  }
}